<!DOCTYPE html>
<html lang="zh">
<!-- HEAD -->

    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-RLP0SHRX9D"></script>
     
       
        <title>ACM Entertainment</title>
        <!-- CSS -->
        <link rel="shortcut icon" href="../../home/assets/images/favicon.ico">
        <link rel="icon" href="../../home/assets/images/favicon.ico">
        <link rel="stylesheet" href="https://use.typekit.net/dqv8fje.css" />
        <link rel="stylesheet" type="text/css" href="../../home/assets/css/style.css" />
        <link rel="stylesheet" type="text/css" href="../../home/assets/css/aos.css" />
        <link rel="stylesheet" type="text/css" href="../../home/assets/css/swiper.min.css" />
        <!-- JS -->
        <script src="../../home/assets/js/jquery.1.12.4.min.js"></script>
    </head>

<body>
<div class="sub_wrap artists">
    <!-- HEADER -->
    

    <header>
        <div class="container empty">
            <a href="/cn" class="logo">
                <img src="../../../assets/acm.svg" />
            </a>
            <div class="header1">
                <ul class="gnb">
                    <li id="about">
                        <a href="../../../index/cn/about/index.html">ABOUT ACM</a>
                       
                    </li>
                    <li id="artists"><a href="">ARTISTS</a></li>
                
                    <li id="news">
                        <a href="../../../news/cn/news/notice.html">NEWS</a>
                      
                    </li>
                    <li id="sustainability">
                        <a href="../../../sustainability/cn/sustainability/esg.html">SUSTAINABILITY</a>
                       
                    </li>
                    <li id="ir">
                        <a href="../../../investors/cn/ir/finance.html">INVESTORS</a>
                        
                    </li>
                </ul>
            </div>
           <div></div>
        </div>
        <div class="header2">
            <div class="nav">
                <ul class="language">
                    <li class="font_Klavika">
                        <a href="/cn">CN</a> <!-- [D]언어 클릭시 클릭한 언어 노출 -->
                        <ul class="language_sub_menu">
                            <li>
                                <a data-lang="ko" href="/cn">KO</a>
                            </li>
                            <li>
                                <a data-lang="en" href="/en">EN</a>
                            </li>
                            <li>
                                <a data-lang="jp" href="/jp">JP</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div id="nav-icon" class="nav-icon">
                    <div></div>
                </div>
                <ul class="navbar">
                    <li class="nav_language">
                        <a href="/cn" class="logo mo">
                            <img src="../../home/assets/images/logo_m.svg">
                        </a>
                        <div class="pc">
                            <ul>
                                <li><a href="/ko">ko</a></li>
                                <li><a href="/en">en</a></li>
                                <li><a href="/jp">jp</a></li>
                                <li class="on"><a href="/cn">CN</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="gnb">
                        <ul>
                            <li>
                                <a href="/cn/about/introduction">ABOUT ACM</a>
                                <ul class="sub_menu">
                                    <li>
                                        <a href="/cn/about/introduction">INTRODUCTION</a>
                                    </li>
                                    <li><a href="/cn/about/brand">BRAND IDENTITY</a></li>
                                    <li>
                                        <a href="/cn/about/headquarters">HEAD OFFICE</a>
                                    </li>
                                    <li><a href="/cn/about/history">HISTORY</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/cn/artists/list">ARTISTS</a>
                            </li>
                            <li>
                                <a href="/cn/actors/list">ACTORS</a>
                            </li>
                            <li>
                                <a href="/cn/news/notice">NEWS</a>
                                <ul class="sub_menu">
                                    <li><a href="/cn/news/notice">notice</a></li>
                                    <li><a href="/cn/news/report">Report</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/cn/sustainability/esg">SUSTAINABILITY</a>
                                <ul class="sub_menu">
                                    <li><a href="/cn/sustainability/esg">ESG</a></li>
                                    <li><a href="/cn/sustainability/compliance">COMPLIANCE</a></li>
                                    <li><a href="/cn/sustainability/with">WITH</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/ir/finance">INVESTORS</a>
                                <ul class="sub_menu">
                                    <li><a href="/cn/ir/finance">FINANCIAL INFORMATION</a></li>
                                    <li><a href="/cn/ir/directors">BOARD</a></li>
                                    <li><a href="/cn/ir/shareholding">SHAREHOLDING</a></li>
                                    <li><a href="/cn/ir/announcement">ANNOUNCEMENT</a></li>
                                    <li><a href="/cn/ir/disclosure">DISCLOSURES</a></li>
                                    <li><a href="/cn/ir/stock">STOCKS</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="sns_list">
                            <a target="_blank" href="https://www.youtube.com/YGEntertainment"><img src="../../home/assets/images/sns_youtube.svg"></a>
                            <a target="_blank" href="https://www.facebook.com/ygfamily"><img src="../../home/assets/images/sns_facebook.svg"></a>
                            <a target="_blank" href="https://www.weibo.com/ygfamilyofficial"><img src="../../home/assets/images/sns_weibo.svg"></a>
                            <a target="_blank" href="https://twitter.com/ygent_official"><img src="../../home/assets/images/sns_twitter.svg"></a>
                            <a target="_blank" href="https://www.instagram.com/yg_ent_official/"><img src="../../home/assets/images/sns_instagram.svg"></a>
                        </div>
                    </li>
                </ul>


            </div>
        </div>
    </header>


    <!-- CONTENT -->
    <div id="page">
        

    <section class="artists_list">
        <div class="container">
            <div class="ly_flex">
                <h2 class="f20">ARTISTS</h2>
                <div class="ly_cont tab_tit">
                    <h2 class="on f18"><a href="/cn/artists/list">LIST</a></h2>
                    <h2 class="f18"><a href="/cn/artists/slide">SLIDE</a></h2>
                </div>
            </div>
            <ul class="artists_list_cont f18 font_Klavika">
                <li>
                    <a href="http://www.youtube.com//channel/UCeU5qTuBiqTU5z-hyL6WITQ">
                        <!-- <a th:if="${artist.mainIsDisplay}" th:href="@{/artist/{slug}/profile(slug=${artist.slug})}"> -->
                        <div class="img">
                            <img src="../../../assets/G-DRAGON.jpg" alt="">
                        </div>
                        <p>G-DRAGON</p>
                    </a>
                </li>
                <li>
                    <a href="http://www.youtube.com//@IVEstarship">
                        <!-- <a th:if="${artist.mainIsDisplay}" th:href="@{/artist/{slug}/profile(slug=${artist.slug})}"> -->
                        <div class="img">
                            <img src="../../../assets/IMG_8454.jpg" alt="">
                        </div>
                        <p>IVE </p>
                    </a>
                </li>
                <li>
                    <a href="http://www.youtube.com/channel/UC9GtSLeksfK4yuJ_g1lgQbg">
                        <!-- <a th:if="${artist.mainIsDisplay}" th:href="@{/artist/{slug}/profile(slug=${artist.slug})}"> -->
                        <div class="img">
                            <img src="../../../assets/IMG_8468.jpg" alt="">
                        </div>
                        <p>AESPA </p>
                    </a>
                </li>
                <li>
                    <a href="http://www.youtube.com//@NewJeans_official">
                        <!-- <a th:if="${artist.mainIsDisplay}" th:href="@{/artist/{slug}/profile(slug=${artist.slug})}"> -->
                        <div class="img">
                            <img src="../../../assets/IMG_8471.jpg" alt="">
                        </div>
                        <p>NEWJEANS</p>
                    </a>
                </li>
                <li>
                    <a href="http://www.youtube.com//@official_g_i_dle">
                        <!-- <a th:if="${artist.mainIsDisplay}" th:href="@{/artist/{slug}/profile(slug=${artist.slug})}"> -->
                        <div class="img">
                            <img src="../../../assets/gi-dle-i-do.jpg" alt="">
                        </div>
                        <p>GIDLE </p>
                    </a>
                </li>
                <li>
                    <a href="http://www.youtube.com/@roses_are_rosie">
                        <!-- <a th:if="${artist.mainIsDisplay}" th:href="@{/artist/{slug}/profile(slug=${artist.slug})}"> -->
                        <div class="img">
                            <img src="../../../assets/rose.jpg" alt="">
                        </div>
                        <p>ROSE </p>
                    </a>
                </li>
                <li>
                    <a href="http://www.youtube.com/channel/UCDhM2k2Cua-JdobAh5moMFg">
                        <!-- <a th:if="${artist.mainIsDisplay}" th:href="@{/artist/{slug}/profile(slug=${artist.slug})}"> -->
                        <div class="img">
                            <img src="../../../assets/ITZY.webp" alt="">
                        </div>
                        <p> ITZY</p>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    
        <script src="../../home/assets/js/artist-list.js"></script>
    




    </div>
    <!-- FOOTER -->
    

    <footer>
        <div class="fix_btn">
            <div class="to_top">
                <p class="f15">top</p>
            </div>
        </div>
        <div class="footer">
            <div class="ly_flex">
                <ul class="sns_box">
                    <li>
                        <a target="_blank" ><img src="../../home/assets/images/sns_youtube.svg" /></a>
                    </li>
                    <li>
                        <a target="_blank" ><img src="../../home/assets/images/sns_facebook.svg" /></a>
                    </li>
                    <li>
                        <a target="_blank" ><img src="../../home/assets/images/sns_weibo.svg" /></a>
                    </li>
                    <li>
                        <a target="_blank" ><img src="../../home/assets/images/sns_twitter.svg" /></a>
                    </li>
                    <li>
                        <a target="_blank" ><img src="../../home/assets/images/sns_instagram.svg" /></a>
                    </li>
                </ul>
                <a href="/" class="logo"><img src="../../../assets/acm.svg" /></a>
            </div>
            <div class="ly_flex lock_point">
                <div class="f_gnb font_Klavika">
                    <span>Familysite</span>
                    <ul>
                        <li>
                            <a  target="_blank">ACM recruit</a>
                        </li>
                        <li>
                            <a  target="_blank">ACM LIFE</a>
                        </li>
                        <li>
                            <a  target="_blank">ACM SELECT</a>
                        </li>
                        <li>
                            <a  target="_blank">ACM AUDITION</a>
                        </li>
                    </ul>
                </div>
                <div class="info_box">
                   
                    <p>
                        All contents of ACM Entertainment are protected by copyright.
                    </p>
                    <p>ⓒACM Entertainment ALL RIGHTS RESERVED.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JS -->
    <script src="../../home/assets/js/swiper.min.js"></script>
    <script src="../../home/assets/js/aos.js"></script>
    <script src="../../home/assets/js/jquery.marquee.min.js"></script>
    <script type="text/javascript" src="../../home/assets/js/gsap-latest-beta.min.js?r=5426"></script>
    <script type="text/javascript" src="../../home/assets/js/ScrollTrigger.min.js"></script>
    <script type="text/javascript" src="../../home/assets/js/scrollbooster.min.js"></script>
    <script>
    (function (d) {
        var config = {
            kitId: "euh0pxw",
            scriptTimeout: 3000,
            async: true,
        },
            h = d.documentElement,
            t = setTimeout(function () {
                h.className =
                    h.className.replace(/\bwf-loading\b/g, "") +
                    " wf-inactive";
            }, config.scriptTimeout),
            tk = d.createElement("script"),
            f = false,
            s = d.getElementsByTagName("script")[0],
            a;
        h.className += " wf-loading";
        tk.src = "https://use.typekit.net/" + config.kitId + ".js";
        tk.async = true;
        tk.onload = tk.onreadystatechange = function () {
            a = this.readyState;
            if (f || (a && a != "complete" && a != "loaded")) return;
            f = true;
            clearTimeout(t);
            try {
                Typekit.load(config);
            } catch (e) { }
        };
        s.parentNode.insertBefore(tk, s);
    })(document);
    </script>
    <!-- Common JS -->
    <script src="../../home/inc/common.js"></script>

    <!-- jbrix -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6NL5E9GGSB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-6NL5E9GGSB');
    </script>


</div>
<!-- Inpage JS-->
<script type="text/javascript">
</script>
</body>
</html>
