p{
    font-size: 20px;
    color: rgb(41, 119, 34);
}
.standount 
{
    color:rgb(226, 135, 23)5, 147, 15;
}
h2.standount
{
    color: blue;
}

p.hover{
    background: rgb(10, 71, 202);
}

.image1{
    border-radius: 50%;
}

.image2{
    border-radius: 30px;
}

.image3{
    opacity: 0.8;
}

.image4{
    filter: grayscale(70%);
}

.image5{
    filter:blur(5px)
}
